In [1]:
a= 10 
name= "victor"
salary= 102.33
print(a)
print(name)
print(salary)

10
victor
102.33

In [3]:
a=10 
b=20
c=30
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [7]:
x=20
y=30
z=40
x,y,z=20,30,40
print(y,z)

30 40

In [8]:
a=b=c=10
z,y,x=30,40,50
print(x,a)

50 10

In [9]:
A=630
a=10
print(a)
print(A)

10
630

In [12]:
NAME="JHONE" #dubble quotes
print(NAME)
name1='killer' #single quotes
print(name1)

JHONE
killer

In [13]:
multiline=""" string
string1
string2 """
print(multiline)

 string
string1
string2

In [14]:
text="hello-world"
print(text)

hello-world

In [18]:
val=10
val1= "none"
print(val)
print(val1)

10
none

In [19]:
a=10 #multiple *
a*=10
print(a)

100

In [20]:
var=20 # add
var+=80
print(var)

100

In [21]:
var=120
var-=20
print(var)

100

In [22]:
a=10<10 and 2>1   #false and true= fasle
print(a)

False

In [23]:
7|5 #binary form 1,2,4,8,16,32

7

In [24]:
7&5

5

In [25]:
10>>2

2

In [26]:
10<<2 #10100 :40

40

In [27]:
10<<3 #1010000:80

80

In [31]:
pets=["dog","cat","wolf"]
"lion" in pets

False

In [32]:
"wolf" in pets

True

In [33]:
"me" in "appoinment"

True

In [34]:
a=10
name="jail"
salay=2003.3
print(type(a))
print(type(name))
print(type(salary))

<class 'int'>
<class 'str'>
<class 'float'>

In [46]:
var1="hello-world"
var2="python class"
print(var1[0])
print(var1[:5])
print(var2[:7])
print(var1[-1])
print(var2[-5:])

h
hello
python
d
class

In [47]:
str="attachment"
str.find("me")

6

In [49]:
str="attachment"
str.find("n")

8

In [50]:
str="replacment"
str.replace("ment","")

'replac'

In [51]:
str="attachment"
str.replace("attach","t")

'tment'

In [61]:
str='world' , 'world1' , 'world2'
str.split(',')

AttributeError: 'tuple' object has no attribute 'split'

In [64]:
str5=["world" , "world1" , "world2"]
str5.split["world"]

AttributeError: 'list' object has no attribute 'split'

In [66]:
str="python"
str.count("y")

1

In [69]:
str1="krrishjack"
str1.count("r")

2

In [71]:
str1.upper()

'KRRISHJACK'

In [73]:
str1=str1.upper()
str1.count("R")

2

In [74]:
str="python"
max(str)

'y'

In [76]:
str1="jack"
min(str1)

'a'

In [78]:
mygroup=("a","b","c","d")
mygroup+=("f",)
print(mygroup)

('a', 'b', 'c', 'd', 'f')

In [80]:
group=('a', 'b', 'c', 'd', 'f')
group*3

('a', 'b', 'c', 'd', 'f', 'a', 'b', 'c', 'd', 'f', 'a', 'b', 'c', 'd', 'f')

In [81]:
group=('a', 'b', 'c', 'd', 'f')
group[2]

'c'

In [92]:
group1=('a', 'b', 'c', 'd', 'f')
group1[1:3]

('b', 'c')

In [95]:
mylist=["a",1,3.450,"python"]
mylist+=["d"]
print(mylist)

['a', 1, 3.45, 'python', 'd']

In [96]:
mylist=['a', 1, 3.45, 'python', 'd']
mylist2=["kill",20]
mylist+=mylist2
print(mylist)

['a', 1, 3.45, 'python', 'd', 'kill', 20]

In [97]:
mylist=['a', 1, 3.45, 'python', 'd']
mylist*2

['a', 1, 3.45, 'python', 'd', 'a', 1, 3.45, 'python', 'd']

In [98]:
mylist=['a', 1, 3.45, 'python', 'd'] #+1 forlist
mylist[1:4]

[1, 3.45, 'python']

In [100]:
mylist=['a', 1, 3.45, 'python', 'd']
mylist.append("j")
print(mylist)

['a', 1, 3.45, 'python', 'd', 'j']

In [102]:
mylist=['a', 1, 3.45, 'python', 'd']
mylist.extend(["ki","ka"])
print(mylist)

['a', 1, 3.45, 'python', 'd', 'ki', 'ka']

In [104]:
mylist=['a', 1, 3.45, 'python', 'd']
mylist.insert(4,"don")
print(mylist)

['a', 1, 3.45, 'python', 'don', 'd']

In [106]:
mydict={1:'jhon',2:'bob',3:'alex'}
print(mydict)

{1: 'jhon', 2: 'bob', 3: 'alex'}

In [107]:
mydict={1: 'jhon', 2: 'bob', 3: 'alex'}
mydict[1]

'jhon'

In [108]:
mydict={1: 'jhon', 2: 'bob', 3: 'alex'}
len(mydict)

3

In [109]:
mydict={1: 'jhon', 2: 'bob', 3: 'alex'}
mydict.keys()

dict_keys([1, 2, 3])

In [110]:
mydick={1: 'jhon', 2: 'bob', 3: 'alex'}
mydict.values()

dict_values(['jhon', 'bob', 'alex'])

In [112]:
myset={1,2,3}
print(myset)

{1, 2, 3}

In [113]:
mys1={1, 2, "c"}
mys2={1,"b","c"}
mys1 | mys2 #all common will be out

{1, 2, 'b', 'c'}

In [114]:
mys1={1, 2, "c"}
mys2={1,"b","c"}
mys1&mys2 #only common will be out

{1, 'c'}

In [115]:
mys1={1, 2, "c"}
mys2={1,"b","c"}
mys1 - mys2  #give only value which is uniqe and first set

{2}

In [116]:
mys1={1, 5, "c"}
mys2={1,"b","c"}
mys1 - mys2

{5}

In [117]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [14]:
x=lambda a:a+10
print(x(5))

15

In [16]:
x=lambda a:a+10
print(x(10))

20