In [1]:
import numpy as np
import pandas as pd

In [4]:
data = [[1,2,3,4,5],[1,2,3]]
df=pd.DataFrame(data)
df

   0  1  2    3    4
0  1  2  3  4.0  5.0
1  1  2  3  NaN  NaN

In [10]:
data = {"a":[1,2,3,4,5],"b":[2,3,4,5,6]}
df=pd.DataFrame(data)
print(df)

   a  b
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6