In [1]:
import pandas as pd

In [5]:
df=pd.DataFrame({"A":[1,2,3],"B":[2,3,4]})
df1=pd.DataFrame({"A":[3,4,5],"C":[1,9,10]})

In [6]:
pd.concat([df,df1])

   A    B     C
0  1  2.0   NaN
1  2  3.0   NaN
2  3  4.0   NaN
0  3  NaN   1.0
1  4  NaN   9.0
2  5  NaN  10.0